[Unit]
Description=PLC Industrial
After=systemd-networkd.service

[Service]
WorkingDirectory=/root
ExecStart=plc

[Install]
WantedBy=multi-user.target
